.App {
  text-align: center;
}

.form-details label{
  display: block;
  text-align: center;
}

.label-styling{
  margin-right: 100px;
}
.button-styling{
  padding: 5px;
  margin: 10px;
  cursor: pointer;

}